.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  font-size: 40px;
  padding: 4px;
}

.register-container {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
}

.register-input {
  display: block;
  height: 20px;
  width: 90%;
  margin: 3%;
}

.register-button {
  margin: 5px;
}